.navbar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: clamp(50px, 10vh, 70px);
    background-color: #fff;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

a {
    text-decoration: none;
}

.button-navbar {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.button-navbar-selected {
    border-top: 2px solid rgba(0, 0, 0, 0.6);
}

.navbar a {
    flex: 1;
    height: 100%;
}

.button-svg {
    background-color: transparent;
    color: #000;
    border: none;
}

p {
    margin: 0;
    font-size: 10px;
    color: #000;
}

