.serviceSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 0;
    padding-bottom: 30%;
    margin-top: 40%
}

.servicesTitle {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    padding: 16px 0 8px;
    margin: 0 18px;
}

.categoryTitle {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 8px;
    margin: 0 18px;
}

.div-container {
    width: 430px;
}

.serviceList {
    display: grid;
    grid-template-columns: repeat(2, 189px);
    grid-template-rows: repeat(2, 224px);
    gap: 16px;
    width: 932px;
    align-items: center;
    max-width: calc(100% - 36px);
    box-sizing: border-box;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    align-items: baseline;
    margin: 0 auto 24px;
}

.loading, .error {
    margin-top: 5%;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: border-color 0.2s;
}

input[type="text"]:focus {
  border-color: #36d7b7;
  outline: none;
}
